aside#sidebar-theme{
    z-index: 2;
    position: absolute;
    right: -260px;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 25px 25px;
    transition: all 700ms linear;
    font-size: 1.6rem;
}

aside h2{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    color: #ddf8f5;
    font-family: var(--themes-title-font);
}

aside h2 img{
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

aside >button{
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -65px;
    transition: all 600ms ease-in-out;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:focus{
        background-color: rgba(255, 255, 255, 0.075);
        transform: translate(-10px, 2px);
    }

}

aside >button img{
    width: 30px;
    height: 30px;

}

aside ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 16px;
    border-radius: 12px;
}

aside ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
    font-family: var(--themes-title-font);
}

aside ul li .btn-theme{
    width: 60px;
    margin-right: 20px;
}

aside ul li #theme1{
    background: linear-gradient(45deg, var(--Watch-border-theme1), var(--title-theme1));
}

aside ul li #theme2{
    background: linear-gradient(45deg, var(--Watch-border-theme2), var(--title-theme2));
}

aside ul li #theme3{
    background: linear-gradient(45deg, var(--Watch-border-theme3), var(--title-theme3));
}

aside ul li #theme4{
    background: linear-gradient(45deg, var(--Watch-border-theme4), var(--title-theme4));
}

aside ul li #theme5{
    background: linear-gradient(45deg, var(--Watch-border-theme5), var(--title-theme5));
}

aside ul li #theme6{
    background: linear-gradient(45deg, var(--Watch-border-theme6), var(--title-theme6));
}
