aside#sidebar-theme{
    z-index: 2;
    position: absolute;
    right: -250px;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 25px 25px;
    transition: all 700ms linear;
    font-size: 1.6rem;
}

aside h2{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
}

aside h2 img{
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

aside >button{
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -65px;
    transition: all 600ms ease-in-out;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:focus{
        background-color: rgba(255, 255, 255, 0.075);
        transform: translate(-10px, 2px);
    }

}

aside >button img{
    width: 30px;
    height: 30px;
}

aside ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 16px;
    border-radius: 12px;
}

aside ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
    

}

aside ul li .btn-theme{
    width: 60px;
    margin-right: 20px;
}
