body{
    background:linear-gradient(45deg, var(--header), var(--bg));
}

main{
    padding: 5rem 10rem;
}

#stopwatch{
    display: flex;
}

section{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    font-size: 3.6rem;

 
}



section h1{
    font-size: 2em ;
    color: gray;
}

section .circle{
    --circle-size: 250px;
    position: relative;
    background-color: var(--watch-bg);
    width: var(--circle-size);
    height: var(--circle-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &::before, &::after{
        content: '';
        position: absolute;
        border-radius: 50%;
        width: calc(var(--circle-size) + 10px);
        height: calc(var(--circle-size) + 10px);
        z-index: -1;
        background: linear-gradient(45deg, var(--Watch-border), var(--bg));
        animation: rotateBorder 10s linear infinite;
    }
    
    &::after{
        filter: blur(30px);
    }
}

@keyframes rotateBorder{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

section .circle span{
    color: var(--watch-numbers);
    cursor: not-allowed;
}

section .group-btn{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

section .group-btn button{
    background-color: var(--button-bg);
    color: var(--button-text);
    display: flex;
    justify-content: center;
    align-items: center;

    &:active{
        transform: none;
        box-shadow: none
    }
}

section .group-btn button img{
    width: 30px;
    height: 30px;
}


#time-flag {
    position: absolute;
    left: 50px;
    top:300px;
    display: none ;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: #cccccc;
    max-height: 50px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

#time-flag::-webkit-scrollbar {
    width: 10px;
}

#time-flag::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

#time-flag::-webkit-scrollbar-thumb{
    background-color: #cccccc;
    border-radius: 15px;
    opacity: .75;

    &:hover{
        opacity: 1;
    }   
}






