



:root{

    font-size: 62.5%;
	box-sizing: border-box;

	    /* Media Queries */
		--small-mobile: 320px;
		--mobile: 480px;
		--small-tablet: 600px;
		--tablet: 768px;
		--large-tablet: 964px;
		--laptop: 1024px;
		--desktop: 1280px;
		--large-desktop: 1440px;

/* temas */

    /* tema 1 */
    --bg-theme1 : #0e0c14;
    --header-theme1 : #3A0CA3;
    --header-text-theme1 : #ddf8f5;
    --header-active-theme1 : #05F2D2;

    --watch-bg-theme1 : #242E4E;
    --Watch-border-theme1 : #F72585;
    --watch-numbers-theme1 : #ffd500;

    --button-bg-theme1 : #7209b7;
    --button-text-theme1 : #4cc9f0;
    /* tema 2 */
    --theme2: #f0f0f0;
    --text-theme2: #333;
    --border-theme2: #ccc;
    
    --theme3: #e0e0e0;
    --text-theme3: #333;
    --border-theme3: #ccc;
    
    --theme4: #d0d0d0;
    --text-theme4: #333;
    --border-theme4: #ccc;
    
    --theme5: #c0c0c0;
    --text-theme5: #333;
    --border-theme5: #ccc;

    --theme6: #b0b0b0;
    --text-theme6: #333;
    --border-theme6: #ccc;

    --theme7: #a0a0a0;
    --text-theme7: #333;
    --border-theme7: #ccc;

    --theme8: #909090;
    --text-theme8: #333;
    --border-theme8: #ccc;

/* atribuição do tema incial */
    --bg : var(--bg-theme1);
    --header : var(--header-theme1);
    --header-text : var(--header-text-theme1);
    --header-active : var(--header-active-theme1);

    --watch-bg : var(--watch-bg-theme1);
    --Watch-border : var(--Watch-border-theme1);
    --watch-numbers: var(--watch-numbers-theme1);

    --button-bg : var(--button-bg-theme1);
    --button-text : var(--button-text-theme1);

}

body{
    height: 100vh;
    width: 100vw;
}

section{
    display: none;
    z-index: 1;
    overflow: hidden;
}

aside{
    display: flex;
    z-index: 2;
    position: absolute;
}


button{
    padding: 10px 20px;
    border: 1px solid var(--border-theme);
    background-color: var(--theme);
    color: var(--text-theme);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    
    &:hover, &:focus{
        transform: translate(-3px, -5px);
        box-shadow: 0 5px 10px var(--border-theme);
        outline: none;
    }

    &:active{
        transform: translate(0);
        box-shadow: 0 0 0 var(--border-theme);
    }

    &:disabled{
        background-color: darkslategray;
        color: whitesmoke;
        cursor: not-allowed;
    }
}

